.navbar-default.sidebar(role='navigation')#side-chat-menu-con
  .sidebar-nav.navbar-collapse(tabsmod)
.navbar-default.sidebar#site-opts(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li
        a.group(href='#')
          i.fa.fa-inbox.fa-fw
          span.d-item-title.hidden-xs Options
      li
        a(href='#/people')
          i.fa.fa-users.fa-fw
          span.d-item-title.hidden-xs Usuarios
      li
        a.active(href='#')
          i.fa.fa-envelope.fa-fw
          span.d-item-title.hidden-xs Memos
            //span.badge(style="float:right;", ng-class="{alert-danger :notifications.chats.length}") {{notifications.chats.length}}
      li
        a.active(href='#')
          i.fa.fa-paper-plane.fa-fw
          span.d-item-title.hidden-xs Enviar Memo
