.navbar-default.sidebar(role='navigation')#side-chat-menu-con
  .sidebar-nav.navbar-collapse
    ul#side-chat-menu.nav
      - each u in users
        li
          a.chat-selector(href='#/chatuser/'+u._id,data-idusr=u._id, ng-click="setChatRoomUser($event)")
            img.img-rounded.msg-avatar(src=u.avatar)
            span.d-item-title #{u.email.substr(0, 21)}
              span.label.label-close
                i.fa.fa-times
.navbar-default.sidebar#site-opts(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li
        a.group(href='#')
          i.fa.fa-inbox.fa-fw
          span.d-item-title Options
      li
        a(href='#/people')
          i.fa.fa-users.fa-fw
          span.d-item-title Usuarios
      li
        a.active(href='#')
          i.fa.fa-envelope.fa-fw
          span.d-item-title Memos
            span.label.label-danger 15
      li
        a.active(href='#')
          i.fa.fa-paper-plane.fa-fw
          span.d-item-title Enviar Memo
