.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li
        a.active(href='#')
          i.fa.fa-users.fa-fw
          span.d-item-title Usuarios
      li
        a.active(href='#')
          i.fa.fa-envelope.fa-fw
          span.d-item-title Memos
      li
        a.active(href='#')
          i.fa.fa-paper-plane.fa-fw
          span.d-item-title Enviar Memo
