extends layout

block content
  .row.our-main-content
    .col-sm-6.col-sm-offset-3(style="margin-top:55px")
      .panel.panel-default
        .panel-heading Inicio de Sesión
        .panel-body
          h1.hammerfont.logobig
            i.fa.fa-comments-o.fa-3(style="padding:0 8px;")
            | #{__("Hermes")}
          form#login-form(action="/login",method="post",role="form").form-horizontal
            .form-group
              label.col-md-4.control-label(for="email") Email:
              .col-md-8
                input#email.form-control(type="email", name="email", placeholder="usuario@sandia.com")
                span.help-block
            .form-group
              label.col-md-4.control-label(for="password") Contraseña:
              .col-md-8
                input#password.form-control(type="password", name="password", placeholder="Contraseña")
                span.help-block
            .form-group
              .col-md-offset-4.col-md-8
                button.btn#login-btn(type="submit") Ingresar
            .form-group
              .col-md-8.col-md-offset-4.text-right(style="padding-right:10px")
                label.checkbox-inline(for="rec")
                  input#rec(type="checkbox",name="rec")
                  | Recordarme en este equipo
              .col-md-8.col-md-offset-4.text-right
                p(style="padding-top:10px;margin:0")
                  a.btn.btn-forgot(href="/recovery") Olvidé mi clave
