<div id="chat">
    <div class="panel chat-header-container">
        <img ng-src="{{users[userto].avatar}}" class="img-rounded msg-avatar" style="height:50px" />
        <span>{{users[userto].name}}</span>
    </div>
    <div class="chat-msg-container">
      <div class="chat-message-table">
        
        <!-- spinner -->
        <div class="big-preloader" ng-hide="!layout.loading">
            <i class="fa fa-6 fa-refresh fa-spin"></i>
        </div>
        
        
        <div class="chat-message" ng-repeat='m in messages'>
          <div class="msg-author">
            <div class="msg-author-avatar"><img ng-src="{{users[m.idFrom].avatar}}" class="img-rounded msg-avatar"/></div>
            <div class="msg-author-name"><a href="#"><span>{{users[m.idFrom].email}}</span></a></div>
          </div>
          <div class="msg-content"><span>{{m.message}}</span></div>
        </div>
          
      </div>
    </div>
    <form class="chat-form">
      <textarea class="message-input" ng-model="chatmsg" ng-keyup="$event.keyCode==13?sendPrivateChat():null"></textarea>
    </form>
</div>
