<div id="chat">
    <div class="chat-msg-container">
      <div class="chat-message-table">
        <div class="chat-message">
          <div class="msg-author">
            <div class="msg-author-avatar"><img src="/img/photo400x400.png" class="img-rounded msg-avatar"/></div>
            <div class="msg-author-name"><a href="#"><span>Cristian Cortez</span></a></div>
          </div>
          <div class="msg-content"><span>Sample content :D</span></div>
        </div>
      </div>
    </div>
</div>
