
<div class="container-fluid" style="background: #F4F4F4;">
    
<div class="row panel">
    <div class="col-md-8 col-md-offset-2">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchvalue" placeholder="Buscar" name="q" autocomplete="off" style="border: 2px solid #ccc;
border-right: 1px solid #ccc;">
                <!--
                <div class="input-group-btn">
                    <button ng-click="searchPeople(searchvalue)" class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>

                </div>
                -->
                <a class="input-group-addon" ng-click="searchPeople(searchvalue)"><i class="fa fa-search fa-fw"></i></a>
            </div>
            <div class="form-group">
                <label for="sector" class="col-sm-4 control-label" style="line-height: 28px;">Sector:</label>
                <div class="col-sm-8">
                  <select class="form-control" id="sector" ng-init="selectedSector = selectedSector || sectors[0]" ng-model="selectedSector" ng-options="s as s.name for s in sectors track by s._id" ng-change="searchPeople(searchvalue)">
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label for="office" class="col-sm-4 control-label" style="line-height: 28px;">Oficina:</label>
                <div class="col-sm-8">
                  <select class="form-control" id="office" ng-init="selectedOffice = selectedOffice || offices[0]" ng-model="selectedOffice" ng-options="o as o.name for o in offices track by o._id" ng-change="searchPeople(searchvalue)">
                  </select>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
  <div class="col-xs-6 col-md-4" ng-repeat="p in people">
      <div class="panel panel-default">
        <div class="panel-body" style="padding: 15px 0;">
              <div class="col-md-2">
                <img ng-src="{{p.avatar}}" alt="{{p.name}}" style="width:55px;height:55px;" class="responsive-image"  />
              </div>
              <div class="col-md-8">
                  <p style="padding:5px 0 0 10px">
                      {{p.name}}
                  </p>
                  <p style="padding:5px 0 0 10px; margin: 0;">
                      <span class="badge progress-bar-danger">
                          <i class="fa fa-circle-o"></i>
                          offline
                      </span>
                  </p>
              </div>
              <div class="col-md-2">
                  <a class="btn btn-default btn-xs" href="#/chatuser/{{p._id}}">
                      <i class="fa fa-comment fa-fw"></i>
                  </a>
                  <a class="btn btn-default btn-xs" href="mailto:{{p.email}}">
                      <i class="fa fa-envelope fa-fw"></i>
                  </a>
              </div>
        </div>
       </div>
      
      <!-- {{p | json}} -->
  </div>
</div>
    
</div>
