
<ul id="side-chat-menu" class="nav">
    <li>
    <a href="#/chatuser/54e2ba54280c8a2910b44d7e" data-idusr='"54e2ba54280c8a2910b44d7e"' ng-click="setChatRoomUser($event)" class="chat-selector">
        <img src="/photos/user.png" class="img-rounded msg-avatar">
        <!--span.d-item-title #{u.email.substr(0, 21)}-->
        <span class="d-item-title hidden-xs">User Demo
            <span class="label label-close">
                <i class="fa fa-times">
                </i>
            </span>
        </span>
    </a>
    </li>
</ul>
